*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.header1{
    min-height: 100vh;
    width: 100%;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header2{
    min-height: 500vh;
    width: 100%;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x, repeat-y;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #FFB900;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 55px;
    color: #FFB900;
}

.text-box h4{
    margin: 10px 0 40px;
    font-size: 22px;
    line-height: 25px;
    color: white;
}

.Projects-text-box{
    width: 100%;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Projects-text-box h1{
    font-size: 55px;
    color: #FFB900;
}

.Projects-text-box p{
    margin: 10px 0 40px;
    font-size: 22px;
    color: white;
}

.Projects-text-box li{
    margin: 10px 0 40px;
    font-size: 22px;
}

.Projects-text-box a{
    text-decoration: none;
    color: #59008d;
}

.Projects-text-box img{
    border: 2px solid #ffffff;
}

.contactMe-text-box{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 44px;
}

.contactMe-text-box h1{
    font-size: 55px;
    color: #FFB900;
}

.contactMe-text-box h4{
    margin: 10px 0 40px;
    font-size: 22px;
    line-height: 25px;
    color: white;
    text-decoration: none;
}

.contactMe-text-box a{
    text-decoration: none;
}

.Information-text-box{
    width: 100%;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 44px;
}

.Information-text-box h1{
    font-size: 55px;
    color: #FFB900;
}

.Information-text-box p{
    margin: 10px 0 40px;
    font-size: 22px;
    line-height: 25px;
    color: white;
    text-decoration: none;
    line-height: 40px;
}

.projects-button{
    text-decoration: none;
    color: #FFB900;
    background: transparent;
    position: relative;
    padding: 12px 34px;
    display: inline-block;
    border: 1px solid #FFB900;
    font-size: 22px;
    cursor: pointer;
}

.projects-button:hover{
    border: 1px solid #ffbb00;
    background: #ffbb00;
    transition: 1s;
    color: white;
}
